
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Prompt:wght@100;200&display=swap');

* {

    padding: 0;
    margin: 0;
}

.continue-btn {

    display: inline-block;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 10px 15px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
}

.continue-btn span {

 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
 
 font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.continue-btn span:after {

 content: '»';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -15px;
 transition: 0.5s;
}

.continue-btn:hover span {

 padding-right: 15px;
}

.continue-btn:hover span:after {

 opacity: 1;
 right: 0;
}

.h3-white {

    color: white;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.hidden {

    display: none !important;
}

#home {

    height: 13vh;
    min-width: 18vw;
    background-color: #45475a;
    padding: 15px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border-radius: 25px;
}

#home .name {

    position: absolute;
    top: 3vh;
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    font-weight: 100;
    font-size: 2rem;

    color: #b4befe;
}

#home .stat-div {

    position: absolute;
    top: 8.5vh;

    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

#home .stat-div h2 {

    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

#home .stat-div #ram-stat {

    padding-left: 20px;
}

.info-text {

    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#login-initializer {

    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}


#login-credentials-input {

    background-color: rgba(0, 0, 0, 0.6);
    height: 45vh;
    width: 35vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

#login-credentials-input label {

    padding-bottom: 10px;
}

.text-input {
  border-radius: 10px;
  outline: 2px solid #FEBF00;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 5px 10px;
  transition: 0.25s;
}

.text-input:focus {
  outline-offset: 5px;
  background-color: #fff
}



/* Code Below is used to style settings section */

.h3-settings {

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #74c7ec;
}

.left-arrow {

    position: absolute;
    left: 52vw;
    color: #cba6f7;

    animation: all ease-in 0.2s;
}

.left-arrow:hover {

    opacity: 95%;
    cursor: pointer;
}

.set-username-button {

    font-family: 'Open Sans';
    font-size: 1rem;
    padding: 6px 20px;

    background-color: #cba6f7;
    color: #11111b;

    border-radius: 16px;
}

.set-username-button:hover {

    opacity: 95%;
    cursor: pointer;
}

.settings-content {

    margin-left: 5vw;
    margin-top: 10vh;

    text-align: left;
}

#settings {

    background-color: #1e1e2e;
    height: 100vh;
    width: 50vw;
    float: right;

    text-align: center;
}

#settings h1 {

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: #cdd6f4	;
    letter-spacing: 2px;
    width: -webkit-fill-available;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#settings h2 {

    color: #b4befe;
    font-weight: 100;
    font-size: 1.3rem;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#settings-close {

    color: #f38ba8;
    position: absolute;
    top: 0;
    left: 95vw;
}

#settings-close:hover {
    
    cursor: pointer;
    opacity: 90%;
}

#sections-list {

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}

#sections-list div {

    margin: 5px;
    height: 15vh;
    border-radius: 25px;
    background-color: #a6adc8;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    color: #181825;
}

#sections-list div {

    animation: all 0.2s ease-in;
}

#sections-list div:hover {

    cursor: pointer;
    opacity: 95%;
}

#personal-settings:hover {

    opacity: 95%;
    cursor: pointer;
}

/* text input used in settings */

.group {

 position: relative;
 font-family: 'Open Sans', Arial, Helvetica, sans-serif;
 font-weight: 100;
}

.input {

 padding: 10px 10px 10px 5px;
 display: block;
 width: 200px;
 border: none;
 border-bottom: 1px solid #515151;
 background: transparent;
 color: #89dceb;
 font-family: 'Open Sans';
 font-weight: 100;
 font-size: 1rem;
}

.input:focus {

 outline: none;
}

label {

 color: #74c7ec;
 font-size: 18px;
 font-weight: normal;
 position: absolute;
 pointer-events: none;
 left: 5px;
 top: 10px;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {

 top: -20px;
 font-size: 14px;
 color: #89b4fa;
}

.bar {

 position: relative;
 display: block;
 width: 220px;
}

.bar:before, .bar:after {

 content: '';
 height: 2px;
 width: 0;
 bottom: 1px;
 position: absolute;
 background: #89b4fa;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.bar:before {

 left: 50%;
}

.bar:after {

 right: 50%;
}

.input:focus ~ .bar:before, .input:focus ~ .bar:after {

 width: 50%;
}

.highlight {

 position: absolute;
 height: 60%;
 width: 100px;
 top: 25%;
 left: 0;
 pointer-events: none;
 opacity: 0.5;
}

.input:focus ~ .highlight {

 animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {

 from {

  background: #89b4fa;
 }

 to {

  width: 0;
  background: transparent;
 }
}


/* css to display the color pallete */  

.color-display span {

    display: inline-block;
    height: 32px;
    width: 32px;
}

.color-display span:hover {

    cursor: pointer;
    opacity: 95%;
}

.rosewater {

    background-color: rgb(245, 224, 220);
}

.flamingo {

    background-color: rgb(242, 205, 205); 
}

.pink {

    background-color: rgb(245, 194, 231);
}

.muave {

    background-color: rgb(203, 166, 247);
}

.red {

    background-color: rgb(243, 139, 168);
}

.maroon {

    background-color: rgb(235, 160, 172);
}

.peach {

    background-color: rgb(250, 179, 135);
}

.yellow {

    background-color: rgb(249, 226, 175);
}

.green {

    background-color: rgb(166, 227, 161);
}

.teal {

    background-color: rgb(148, 226, 213);
}

.sky {

    background-color: rgb(137, 220, 235);
}

.sapphire {

    background-color: rgb(116, 199, 236);
}

.blue {

    background-color: rgb(116, 199, 236);
}

.lavendar {

    background-color: rgb(180, 190, 254);
}

.text {

    background-color: rgb(205, 214, 244);
}

.subtext1 {

    background-color: rgb(186, 194, 222);
}

.subtext0 {

    background-color: rgb(166, 173, 200);
}

.overlay2 {

    background-color: rgb(147, 153, 178);
}

.overlay1 {

    background-color: rgb(127, 132, 156);
}

.overlay0 {

    background-color: rgb(108, 112, 134);
}

.surface2 {

    background-color: rgb(88, 91, 112);
}

.surface1 {

    background-color: rgb(69, 71, 90);
}

.surface0 {

    background-color: rgb(49, 50, 68);
}

.base {

    background-color: rgb(30, 30, 46);
}

.mantle {

    background-color: rgb(24, 24, 37);
}

.crust {

    background-color: rgb(17, 17, 27);
}