
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Prompt:wght@100;200&display=swap');

* {

    padding: 0;
    margin: 0;
}

.continue-btn {

    display: inline-block;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 10px 15px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
}

.continue-btn span {

 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
 
 font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.continue-btn span:after {

 content: '»';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -15px;
 transition: 0.5s;
}

.continue-btn:hover span {

 padding-right: 15px;
}

.continue-btn:hover span:after {

 opacity: 1;
 right: 0;
}

.h3-white {

    color: white;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.hidden {

    display: none !important;
}

#home {

    height: 13vh;
    min-width: 18vw;
    background-color: #45475a;
    padding: 15px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border-radius: 25px;
}

#home .name {

    position: absolute;
    top: 3vh;
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    font-weight: 100;
    font-size: 2rem;

    color: #b4befe;
}

#home .stat-div {

    position: absolute;
    top: 8.5vh;

    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

#home .stat-div h2 {

    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

#home .stat-div #ram-stat {

    padding-left: 20px;
}

.info-text {

    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#login-initializer {

    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}


#login-credentials-input {

    background-color: rgba(0, 0, 0, 0.6);
    height: 45vh;
    width: 35vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

#login-credentials-input label {

    padding-bottom: 10px;
}

.text-input {
  border-radius: 10px;
  outline: 2px solid #FEBF00;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 5px 10px;
  transition: 0.25s;
}

.text-input:focus {
  outline-offset: 5px;
  background-color: #fff
}



/* Code Below is used to style settings section */

.left-arrow {

    position: absolute;
    left: 52vw;
    color: #cba6f7;

    animation: all ease-in 0.2s;
}

.left-arrow:hover {

    opacity: 95%;
    cursor: pointer;
}

#settings {

    background-color: #1e1e2e;
    height: 100vh;
    width: 50vw;
    float: right;

    text-align: center;
}

#settings h1 {

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: #cdd6f4	;
    letter-spacing: 2px;
    width: -webkit-fill-available;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#settings h2 {

    color: #b4befe;
    font-weight: 100;
    font-size: 1.3rem;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#settings-close {

    color: #f38ba8;
    position: absolute;
    top: 0;
    left: 95vw;
}

#settings-close:hover {
    
    cursor: pointer;
    opacity: 90%;
}

#sections-list {

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}

#sections-list div {

    margin: 5px;
    height: 15vh;
    border-radius: 25px;
    background-color: #a6adc8;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    color: #181825;
}

#sections-list div {

    animation: all 0.2s ease-in;
}

#sections-list div:hover {

    cursor: pointer;
    opacity: 95%;
}

#personal-settings:hover {

    opacity: 95%;
    cursor: pointer;
}
